
body {
    /* background-image: linear-gradient(to right, #00B4DB, #0083B0); */
    background-color: #666666;
    font-family: monospace;
    height: 100%;
    color: rgb(255, 255, 255);
}

header {
    /* height: 10%; */
    background-color: #00A3A3;
    margin: 0px;
    padding-bottom: 10px;
}

header h1 {
    margin: inherit;
}

nav {
    background-color: #00D1D1;
}

footer {
    max-height: 150px;

}

.computer-block-image {
    width: 60px;
    height: 60px;
    padding: 10px 10px 0px 0px;
    margin: 0px 0px 10px 10px;
}

article {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #92d393;
}


.computer-container {
    margin: 0px;
    background-color: #92d393;
}

section>h2 {
    margin: 0px;
}


.computer-block {
    display: flex;
    flex-flow: row;
    width: 25%;
    border-radius: 10px;
    background-color: #78ffc0;   
    margin: 10px;
    min-width: 300px;
    max-width: 450px;
    
}

article>* {
    flex: 1 1 420px;
    min-width: 350px;
}

a:hover {
    color: red;
}


#computer-details {
    font-size: 14px;
    display: block;
}

.vertical {
    display: flex !important;
    flex-flow: row !important;
}

.default {
    display: block !important;
}

#detail-table, th, tr, td {
    color: black;
    border: gold solid 3px;
    border-collapse: collapse;
    text-align: center;
}

input[required] {
    border: red 1px solid;
}

.left {
    float: left;
}